@import scala.collection.immutable.Map
@(name: String,valueLabel: Map[String,String], id:Option[String] = None)

<select name="@name" id="@id.getOrElse("")" >
    @for( (value,label) <- valueLabel){
        <option value="@value">@label</option>
    }
</select>